{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "ignorePatterns": ["*.js", "node_modules"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },

  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "_"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "react/prop-types": "off"
  }
}
